body{
    background-image: url("bg.jpg");
    background-attachment: fixed;
    background-position: center;
}
.container{
    display: flex;
    vertical-align: center;
}
.coin-field{
    color: aliceblue;
    height: 50px;
    width: 50px;
    font-size: 25px;
    margin: 0 auto;
}